.carousel {
  position: relative;

  &-inner {
    overflow: hidden;

    @media (max-width: 1023px) {
      margin: 0 -1em;
    }
  }

  .buttons-wrapper {
    position: absolute;
    top: -50px;
    right: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    .btn {
      background: transparent;
      font-weight: 900;
      font-size: .8em;
      color: #273750;
      transition: color .3s ease;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 1em;

      &.prev:before,
      &.next:before {
        font-weight: bold;
      }

      &.prev {
        &:before {
          margin-right: 1em;
        }

        &:hover {
          &:before {
            transform: translateX(-.5em);
          }
        }
      }

      &.next {
        flex-direction: row-reverse;

        &:before {
          margin-left: 1em;
        }

        &:hover {
          &:before {
            transform: translateX(.5em);
          }
        }
      }

      &:before {
        display: inline-block;
        font-weight: 100;
        font-size: 1.5em;
        transition: transform .4s ease;
      }
    }
  }
}

.content-wrapper {
  width: 300%;
  left: -100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.animate {
    transition: transform .55s ease;

    &.prev {
      transform: translate3d(33.3333333%, 0, 0) !important;
    }

    &.next {
      transform: translate3d(-33.3333333%, 0, 0) !important;
    }
  }
}

.items-wrapper {
  flex: 0 0 33.333333333%;
  transition: all .3s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;

  .item {
    flex: 1 1 100%;

    @media (min-width: 1024px) {
      padding: 10px;
    }

    @media (max-width: 1023px) {
      padding: .5em;
    }

    .heading {
      font-size: 1.125em;
      margin-top: 1.7em;
    }

    .description {
      color: #818181;
      text-transform: capitalize;
      margin-top: .5em;
    }

    .link {
      margin-top: 2em;
    }

    .description,
    .link
    {
      letter-spacing: 0.1em;
    }
  }
}