<div class="carousel">
    <div class="carousel-inner">
        <div class="content-wrapper" [ngClass]="{'animate': animateState, 'prev': animatePrev, 'next': animateNext}"
             [ngStyle]="{'transform': 'translate3d('+ (touchActive ? transformValue : 0) +'px, 0, 0)'}">
            <div class="items-wrapper" *ngFor="let itemsSet of itemsOrdered">
                <div class="item" *ngFor="let item of itemsSet">
                    <a [routerLink]="['/project', item.id]" class="item-content">
                        <img [src]="item.image" alt="">
                        <h4 class="heading">{{item.name}}</h4>
                        <p class="description">
                            {{ item.services}}
                        </p>
                        <div class="outer-link-wrapper black right link">
                            <span class="outer-link">view project</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-wrapper">
        <button class="btn prev icon icon-back" (click)="prev()">prev</button>
        <button class="btn next icon icon-next" (click)="next()">next</button>
    </div>
</div>