@import "../../../assets/scss/base/variables";

.careers-page {
  padding-top: 7em;

  .section-heading {
    margin-bottom: 1.2em;
  }

  .generalAbout {
    letter-spacing: 0.05em;
    line-height: 1.4em;
    font-size: 1.1em;
    margin-bottom: 5em;
  }

  .subheader {
    line-height: 1.4em;
    margin: 1em 0 0.5em;
  }

  .list {
    font-size: 1rem;
  }
}

.vacancy-cover {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  &:not(:last-of-type){
    padding-bottom: 5em;
    margin-bottom: 5em;
    position: relative;

    @media (max-width: 768px) {
      padding-bottom: 3em;
      margin-bottom: 3em;
    }

    @media (max-width: 640px) {
      padding-bottom: 2em;
      margin-bottom: 2em;
    }
  }

  &:not(:last-of-type):after {
    content: "";
    height: 1px;
    background-color: $lightBlue;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  
  @media (max-width:960px) {
    align-items: flex-start;
  }
}

.vacancy-img {
  flex: 0 0 30%;
  text-align: center;

  img {
    max-width: 70%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.vacancy-img {
  padding: 1em;
}
.vacancy-text {
  padding: 1em;
}

.vacancy-text {
  flex: 0 0 70%;

  .title {
    margin-bottom: 1.25em;
    font-size: 2.5em;

    .tech-small-logo{
      display: none;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1em;
      font-size: 2em;

      .tech-small-logo{
        display: inherit;
        max-width: 100px;
        max-height: 100px;
      }
    }

    @media (max-width: 640px) {
      font-size: 1.75em;
      flex-direction: column;

      .tech-small-logo{
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 1em;
      }

      .text {
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 100%;
    padding: 0;
  }

  .description,
  .requirements {
    letter-spacing: 0.05em;
    line-height: 1.4em;
  }

  .description {
    margin-bottom: 2em;
  }

  .requirements {
    padding-left: 20px;
  }

  .item {
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: -1.25em;
      height: 4px;
      width: 4px;
      background: $lightBlack;
      top: 30%;
    }

    + .item {
      margin-top: 10px;
    }
  }
}