<section class="careers-page section white">
  <div class="container">
    <h2 class="section-heading">
      <span>Vacancies</span>
    </h2>

    <div class="generalAbout">
      <p>
        Atlana is a quality-first and result-driven team assists companies all over the world to build
        tailored web solutions. Most of our projects are "Web 3.0" services and applications for business and
        government.
      </p>
      <p>
        We are looking for highly skilled developers, focused towards latest standards and bleeding-edge
        technologies with an ability to bring a working solution on the table but not just a nice-looking
        piece of code. "Team player" skills and cooperation-oriented mindset are highly appreciated.
      </p>

      <h5 class="subheader">We offer:</h5>
      <ul class="list">
        <li class="list-item">“Challenge accepted” projects with long-term priority; 7+ months</li>
        <li class="list-item">Friendly, cheerful and open minded team</li>
        <li class="list-item">Flexible schedule</li>
        <li class="list-item">Comfortable office in a city center (Shevchenko blvd area)</li>
        <li class="list-item">Competitive benefits package</li>
      </ul>
    </div>

    <div class="vacancy-cover" *ngFor="let career of careers">
      <div class="vacancy-img">
        <img src="{{career.pic}}" alt="" class="tech-logo">
      </div>
      <div class="vacancy-text">
        <h2 class="title">
          <img src="{{career.pic}}" alt="" class="tech-small-logo">
          <span class="text">{{career.title}}</span>
        </h2>
        <p class="description">{{career.description}}</p>
        <ul class="requirements">
          <li class="item" *ngFor="let item of career.requirements">
            {{item}}
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

