@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e61yq3');
  src:  url('fonts/icomoon.eot?e61yq3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e61yq3') format('truetype'),
    url('fonts/icomoon.woff?e61yq3') format('woff'),
    url('fonts/icomoon.svg?e61yq3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bug-fixing:before {
  content: "\e900";
}
.icon-engagement:before {
  content: "\e905";
}
.icon-improvement:before {
  content: "\e906";
}
.icon-improvement1:before {
  content: "\e908";
}
.icon-support:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e91c";
}
.icon-result:before {
  content: "\e91d";
}
.icon-clear:before {
  content: "\e91b";
}
.icon-back:before {
  content: "\e919";
}
.icon-next:before {
  content: "\e91a";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-linkedin:before {
  content: "\e917";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-care:before {
  content: "\e902";
}
.icon-unique:before {
  content: "\e903";
}
.icon-consulting:before {
  content: "\e904";
}
.icon-online-support:before {
  content: "\e90f";
}
.icon-programming:before {
  content: "\e910";
}
.icon-planning:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e90d";
}
.icon-nda:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e90a";
}
