<header class="header" [ngClass]="{'open': openMenu}" id="top">
  <div class="layout-container">
    <div class="header-content">
      <a class="header-logo" (click)="closeMenu()" [routerLink]="['/']" fragment="top">
        <img class="img" src="../assets/img/logo-xs1.svg" alt=""/>
      </a>
      <nav class="header-nav">
        <div class="header-nav-list-wrapper">
          <ul class="list">
            <li class="item" *ngFor="let item of navMenu" (click)="navClick(item.target)">
              <a [routerLink]="['/']" fragment="{{item.target}}"
                      class="link">{{item.title}}
              </a>
            </li>
            <li class="item" (click)="closeMenu()">
              <a [routerLink]="['/careers']"
                      class="link">careers
              </a>
            </li>
          </ul>
          <ul class="soc">
            <li class="item">
              <a href="https://www.facebook.com/atlana.pro/" target="_blank" class="link icon icon-facebook">
              </a>
            </li>
            <li class="item">
              <a href="https://www.instagram.com/slaventiy_k85/" target="_blank" class="link icon icon-insta">
              </a>
            </li>
            <li class="item">
              <a href="https://www.linkedin.com/company/atlana/" target="_blank" class="link icon icon-linkedin">
              </a>
            </li>
          </ul>
        </div>
        <a (click)="switchMenu()" class="xs-toggle">
          <span></span>
        </a>
      </nav>
      <a class="btn get-btn" href="#contact">
        get in touch
      </a>
    </div>
  </div>
</header>