* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Grotesk';
  letter-spacing: 0.2em;
  font-size: 16px;
  color: $lightBlack;
}

body {
  background: $extraLightGrey;
  width: 100%;

  &.body-modal {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 6.5em - (0.8 * $i);
    font-weight: 100;
    font-family: 'Cocogoose-Narrow';
    letter-spacing: 0;
  }
}

h2 {
  font-size: 3em;
}

.section {
  position: relative;

  &.blue {
    background: $deepBlue;

    .section-heading {
      color: #ffffff;
    }
  }

  &.white {
    background: #ffffff;
  }

  &-heading {
    font-size: 5em;
    position: relative;
    text-transform: uppercase;
    padding-left: .18em;
    z-index: 1;
    display: flex;
    align-items: flex-start;

    @media (max-width: 768px) {
      padding: 0;
      width: 100%;
    }

    span {
      display: inline-block;
      position: relative;
      top: .1em;
      z-index: 2;
    }

    &:before {
      content: '';
      border-style: solid;
      margin-right: -1.65em;
      border-width: .75em 1em;
      border-color: transparent;
      border-left-color: $lightBlue;
    }

    @media(max-width: 860px) {
      font-size: 3.5em;
      margin-top: -.1em;
    }

    @media(max-width: 600px) {
      font-size: 2.75em;
    }

    @media(max-width: 480px) {
      font-size: 2em;
    }

    @media(max-width: 360px) {
      font-size: 1.75em;
    }
  }

  &-target {
    position: absolute;

    @media (min-width: 768px) {
      top: -8em;
    }

    @media (max-width: 767px) {
      top: -4em;
    }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 0;

  @media (min-width: 1024px) {
    width: 1010px;
  }

  @media (max-width: 1023px) {
    //text-align: center;
    padding: 3em 1.5em;
  }
}

.cocogoose {
  font-family: 'Cocogoose-Narrow';
}
