@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebas_neue/BebasNeue_Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Cocogoose';
  src: url("../fonts/Cocogoose.otf");
}

@font-face {
  font-family: 'Cocogoose-Narrow';
  src: url("../fonts/Cocogoose.otf");
  font-weight: 100;
}

@font-face {
  font-family: 'Biko';
  src: url("../fonts/biko/Biko_Regular.otf");
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/MD_Grotesk_Regular.ttf");
}

@font-face {
  font-family: 'Biko-Bold';
  src: url("../fonts/biko/Biko_Bold.otf");
}
