@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?m8jnf8');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?m8jnf8#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.ttf?m8jnf8') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff?m8jnf8') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg?m8jnf8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons:
(
  bug-fixing: "\e900",
  engagement: "\e905",
  improvement: "\e906",
  improvement1: "\e908",
  support: "\e909",
  instagram: "\e90b",
  mail: "\e91c",
  result: "\e91d",
  clear: "\e91b",
  back: "\e919",
  next: "\e91a",
  facebook: "\e918",
  linkedin: "\e917",
  calendar: "\e901",
  care: "\e902",
  unique: "\e903",
  consulting: "\e904",
  online-support: "\e90f",
  programming: "\e910",
  planning: "\e911",
  close: "\e90d",
  nda: "\e907",
  pin: "\e90a"
);

%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before {
  @extend %icon;
}

@each $class, $code in $icons {
  %icon-#{$class} {
    content: $code;
  }
  .icon-#{$class}::before {
    @extend %icon-#{$class}
  }
}

