@mixin flex($dir, $jc, $ai, $fw) {
  display: flex;
  flex-flow: $dir $fw;
  justify-content: $jc;
  align-items: $ai;
}

@mixin cover {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

%cover {
  @include cover;
}

@mixin coverFixed {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

%coverFixed {
  @include coverFixed;
}

