.footer {
  background: $lightBlack;
  color: #ffffff;

  &-container {
    @include flex(row, space-between, center, nowrap);
    min-height: 3.5em;
  }

  .copyright {
    font-size: .875em;
    line-height: 1.5em;
  }

  .nav {
    .list {
      @include flex(row, flex-start, center, nowrap);

      .social-item {
        margin-left: 1.25em;
        font-size: 1.5em;
      }

      .link {
        color: #ffffff;
      }
    }
  }
}
