$xsNavToggleWidth: 1px;
$xsNavToggleColor: $blue;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 1023px) {
    &.open {
      .header-nav {
        &-list-wrapper {
          transform: translate3d(-100%, 0, 0);
        }

        .xs-toggle {
          width: 24px;

          &:before,
          &:after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }

          span {
            opacity: 0;
          }
        }
      }
    }
  }

  &-content {
    @media (min-width: 1024px) {
      @include flex(row, space-around, center, nowrap);
    }

    @media (max-width: 1023px) {
      @include flex(row, space-between, center, nowrap);
    }
    min-height: 4.75em;
  }

  &-nav {
    @media (max-width: 1023px) {
      order: 2;
      width: 30px;
    }

    &-list-wrapper {
      @media (max-width: 1023px) {
        position: fixed;
        z-index: 1;
        transition: all .5s ease;
        height: 100%;
        right: -100%;
        top: 0;
        width: 100%;
        background: #ffffff;
        transform: translate3d(0, 0, 0);
        @include flex(column, flex-end, center, nowrap);
      }
    }

    .list {
      @media (min-width: 1024px) {
        @include flex(row, flex-start, center, nowrap);
      }

      @media (max-width: 1023px) {
        flex: 1 1 100%;
        padding-top: 2em;
        @include flex(column, center, center, nowrap);
      }

      .item {
        @media (min-width: 1023px) {
          @include flex(row, flex-start, center, nowrap);

          + .item {
            &:before {
              content: '';
              display: inline-block;
              height: 4px;
              width: 4px;
              background: $darkGrey;
              margin: 0 1em;
              margin: 0 .5em 0 1em;

              @media (min-width: 1024px) and (max-width: 1200px){
                margin: 0 .5em 0 1em;
              }
            }
          }
        }

        @media (max-width: 1023px) {
          text-align: center;

          + .item {
            position: relative;

            &:before {
              content: '';
              display: block;
              height: 4px;
              width: 4px;
              background: $lightBlue;
              margin: 1.2em auto;
            }
          }
        }
      }

      .link {
        text-transform: lowercase;
        letter-spacing: 0.1em;
        color: $deepBlue;
        padding: .75em 0;

        @media (min-width: 1024px) {
          transition: color .3s ease;
          font-size: 1em;
        }

        @media (max-width: 1023px) {
          font-size: 1.5em;
        }
      }
    }

    .xs-toggle {
      width: 32px;
      display: block;
      padding: 10px 0;
      position: relative;
      z-index: 3;
      transition: all .3s ease;

      @media (min-width: 1024px) {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        height: $xsNavToggleWidth;
        background: $xsNavToggleColor;
        width: 100%;
        position: absolute;
        transition: all .3s ease;
        transform: rotate(0deg);
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      span {
        display: block;
        margin-left: 3px;
        background: $xsNavToggleColor;
        height: $xsNavToggleWidth;
        transition: opacity .3s ease;
      }
    }

    .soc {
      @media (min-width: 1024px) {
        display: none;
      }

      @media (max-width: 1023px) {
        @include flex(row, center, center, nowrap);
        padding: 2em 0;
      }

      .item {
        margin: 0 1em;
      }

      .link {
        color: $deepBlue;
      }
    }
  }

  &-logo {
    position: relative;
    display: block;

    @media (max-width: 1023px) {
      z-index: 3;
    }

    .img {
      height: 70px;
      padding: .5em;
      box-sizing: content-box;
    }
  }
}

.get-btn {
  background: $deepBlue;
  color: #ffffff;
  font-size: 1em;
  font-family: Grotesk;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 1.5em;
  transition: background .3s ease, color .3s ease;

  @media (max-width: 1023px) {
    order: 1;
    padding: 1.5em 3em;
    font-size: .75em;
  }

  @media(max-width: 768px) {
    padding: 1em 2em;
  }
}
