.modal {
  z-index: 9999;
  width: 100%;
  height: 100%;
  @include cover;
  position: fixed;

  &.visible {

    .modal-window {
      transform: scale(1);
    }
  }

  &:not(.visible) {
    display: none;
  }

  &-wrapper {
    height: 100%;
    @include flex(row, center, center, nowrap);
  }

  &-window {
    background: #ffffff;
    border-radius: 5px;
    min-height: 200px;
    position: relative;
    padding: 2.5em 5em;
    z-index: 10;
    transition: all .3s ease;
    transform: scale(0);
  }

  &-close {
    position: absolute;
    top: 16px;
    right: 18px;
    font-size: 1.5em;
  }

  &-backdrop {
    background: rgba(0, 0, 0, .7);
    @include cover;
  }

  &-heading {
    text-transform: uppercase;
    font-size: 3.75em;
    color: #273750;
    text-align: center;
    padding-top: .3em;

    &--small {
      font-size: 2.25em;
    }
  }

  &-text {
    margin-top: 1em;
  }

  .contact-form {
    width: 450px;
    margin-top: 2.75em;

    .input-container {
      margin-bottom: 1.125em;
    }

    .submit {
      display: block;
      margin: 2.5em auto;
      width: 225px;
    }
  }
}