<form action="" class="contact-form" (submit)="sendMessage()" name="contactForm" #contactForm="ngForm" autocomplete="off">
  <div class="input-container"
       [ngClass]="{'error': name.dirty && name.invalid}">
    <input type="text" name="name" class="input input-default input--block"
           #name="ngModel" pattern="[a-zA-Z_ ']*"
           placeholder="Full name" [(ngModel)]="entity.name" required/>
    <div class="input-error">No special characters and numbers, please</div>
  </div>
  <div class="input-container"
       [ngClass]="{'error': email.dirty && email.invalid && !email.focus}">
    <input type="email" name="email" class="input input-default input--block"
           (blur)="email.focus = false" (focus)="email.focus = true"
           #email="ngModel"
           pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
           placeholder="Email address" [(ngModel)]="entity.email" required/>
    <div class="input-error">Your email doesn't seem to be correct. Please double check</div>
  </div>
  <div class="input-container" [ngClass]="{'error': company.invalid}">
    <input type="text" name="company" class="input input-default input--block"
           #company="ngModel" [(ngModel)]="entity.company"  pattern="[a-zA-Z_ 0-9]*"
           placeholder="Company name"/>
    <div class="input-error">Incorrect company name</div>
  </div>
  <div class="input-container">
                            <textarea name="message" class="textarea textarea-default textarea--block"
                                      #message="ngModel" [(ngModel)]="entity.message"
                                      placeholder="Message"></textarea>
  </div>
  <button type="submit" [disabled]="(name.invalid || email.invalid || !entity.message) && contactForm.dirty"
          class="btn default submit">send message
    <span class="disabled-wrapper">
                                <span>please fill out the form</span>
                            </span>
  </button>
</form>