.btn {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.1em;
  padding: 1.5em 4.5em;
  border-radius: 2px;
  font-family: Grotesk;
  font-weight: 700;

  &.default {
    color: #ffffff;
    background: $lightBlue;
    font-size: .75rem;
  }

  &.white {
    color: $deepBlue;
    background-color: #fff;
  }

  .disabled-wrapper {
    @include cover;
    z-index: 2;
    background: #77deff;
    transition: top .3s ease;
    top: -100%;
    height: 100%;
    margin: 0;
    @include flex(row, center, center, nowrap);
  }

  &:disabled {
    cursor: not-allowed;

    .disabled-wrapper {
      top: 0;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}
.outer-link-wrapper {
  @include flex(row, flex-start, center, nowrap);

  &:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    margin-right: 15px;
  }

  &.black {
    &:before {
      background: $lightBlack;
    }
  }

  &.blue {
    &:before {
      background: $lightBlue;
    }
  }

  &.right {
    justify-content: flex-end;
  }
}

.outer-link {
  color: $lightBlack;
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 900;
}