.input,
.textarea {
  border: none;

  &:focus {
    outline: none;
  }

  &-default {
    border-bottom: 1px solid $lightBlack;
    padding: 1em 1.25em;
    font-size: 1em;

    @media (max-width: 767px) {
      font-size: .875em;
    }

    &::placeholder {
      color: $lightGrey;
      font-family: 'Roboto'
    }
  }

  &--block {
    display: block;
    width: 100%;
  }
}

.textarea {
  resize: none;

  &-default {
    min-height: 123px;
  }
}

.input-container {
  position: relative;

  &.error {
    .input-error {
      display: block;
    }

    .input, .textarea {
      border-color: red;
    }
  }
}

.input-error {
  position: absolute;
  left: 0;
  color: red;
  font-size: .75rem;
  top: 100%;
  display: none;
  padding-left: 20px;
  padding-top: 5px;
}