<section class="top-wrapper">
  <div class="container">
    <div class="top-bg">
      <div class="top-bg-elem left">
        <div class="top-bg-line left"></div>
      </div>
      <div class="top-bg-elem right">
        <div class="top-bg-square"></div>
        <div class="top-bg-line-container">
          <div class="top-bg-line right"></div>
          <div class="top-bg-line right"></div>
          <div class="top-bg-line right"></div>
          <div class="top-bg-line right"></div>
        </div>
      </div>
    </div>
    <div class="top">
      <div class="top-content">
        <h1>
          Web consultancy <br/>
          agency
        </h1>
        <p class="top-text">
          We provide tailored web solutions for
          business needs.
        </p>
        <a [routerLink]="['/']" fragment="projects" (click)="navClick('projects')" class="btn white top-link">view our projects</a>
      </div>
      <div class="top-img">
        <img src="../assets/img/top-block-img.svg" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="section about grey">
  <div class="section-target" id="about"></div>
  <div class="container about-container">
    <a href="../../assets/data/atlana_presentation.pdf" target="_blank" class="presentation-btn">view presentation</a>
    <div class="about-container-block top">
      <h2 class="about-heading">About Agency</h2>
    </div>
    <div class="about-container-block bottom">
      <p class="about-description">
        Atlana is a web development company specialized in providing tailored web solutions for business needs. Solid expertise covers wide range of successfully completed projects from startups to  international government portals.
      </p>
      <h3 class="about-subtitle" >What makes us different?</h3>
      <p class="about-description">
        Our values. They are dead simple and can be enunciated in one phrase: “We do care”.
      </p>
      <h3 class="about-subtitle" >What do we stand for?</h3>
      <p class="about-description">
        At our core, each client and each project is unique and requires its own approach. We advise you to feel the product-building process as opened as you can get it.
      </p>
      <p class="about-description">
        Time is priceless and we gain advantage from ours one. Applying value on what we do, we growth in relation of trust.
      </p>
      <p class="about-description">
        Access to insatiable aspiration of new opportunities is giving a chance to be digital originals. We do not code upside down or fight for “goto” unfair prejudice. Paying attention on a quality-first mindset, we deliver tangible results on the launch day and beyond.
      </p>

    </div>
  </div>
</section>

<section class="section grey services">
  <div class="section-target" id="services"></div>
  <div class="container">
    <div class="services-top">
      <h2 class="section-heading">
        <span>services</span>
      </h2>
    </div>

    <div class="services-block">
      <div class="service {{service.alias}}" *ngFor="let service of ourServices">
        <div class="content">
          <h3 class="heading">
            <span class="heading-text">{{service.title}}</span>
          </h3>
          <ul class="service-list" *ngIf="service.list && service.list.length">
            <li class="service-list-item" *ngFor="let item of service.list">
              {{item}}
            </li>
          </ul>

          <ul class="service-list" *ngIf="service.list && !service.list.length">
            <li *ngFor="let key of objectKeys(service.list)"></li>
          </ul>
        </div>
        <img src="../assets/img/services-{{service.img}}" alt="" class="img"/>
      </div>
    </div>
  </div>
</section>

<section class="section white projects">
  <div class="section-target" id="projects"></div>
  <div class="container">
    <h2 class="section-heading">
      <span>projects</span>
    </h2>
    <div class="projects-carousel-wrapper">
      <div class="projects-carousel">

          <app-carousel [items]="projects">

          </app-carousel>
      </div>
    </div>
  </div>
</section>

<section class="section blue how">
  <div class="section-target" id="how"></div>
  <div class="container">
    <h2 class="section-heading how">
      how we work
    </h2>
    <div class="how-container">
      <div class="workflow-step"
               *ngFor="let item of workflow">
        <div class="img-container">
          <img src="../assets/img/how-{{item.img}}" alt="" class="img" screenScale/>
        </div>
        <div class="content">
          <h3 class="heading">
            <span>{{item.title}}</span>
          </h3>
          <p class="description">
            {{item.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section white engagement">
  <div class="section-target" id="engagement"></div>
  <div class="container">
    <h2 class="section-heading">
      <span>Engagement models</span>
    </h2>
    <div class="engagement-block">
      <div class="engagement-model" *ngFor="let item of engagement">
        <img src="{{ item.img }}" alt="" class="engagement-icon">
        <div class="model-block">
          <div class="title">{{item.title}}</div>
          <div class="description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section grey key-points">
  <div class="section-target" id="key-points"></div>
  <div class="container">
    <h2 class="section-heading key-points-heading">
      our key points
    </h2>
    <div class="key-points-container">
      <div class="key-point icon icon-{{item.icon}}" *ngFor="let item of keypoints">
        <h3 class="heading">
          {{item.title}}
        </h3>
        <p class="description">
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section blue cta-banner">
  <div class="text-back cocogoose"><span>we make it real</span></div>
  <p class="heading cocogoose">we make it real<span class="mobile-part">.<br/></span><span
          class="end">—</span> yes we do!</p>
</section>
