<div class="projects" *ngIf="project">
    <section class="projects-top">
        <div class="container">
            <h1 class="heading">
                {{ project.name }}
            </h1>
            <aside class="aside" *ngIf="project.shortDesc">
                {{ project.shortDesc }}
            </aside>
            <div class="info">
                <section class="item" *ngIf="project.services">
                    <h4 class="heading">services</h4>
                    <div class="content">
                        {{ project.services }}
                    </div>
                </section>
                <section class="item" *ngIf="project.client">
                    <h4 class="heading">client</h4>
                    <div class="content">
                        {{ project.client }}
                    </div>
                </section>
                <section class="item" *ngIf="project.date">
                    <h4 class="heading">date</h4>
                    <div class="content">
                        {{ project.date }}
                    </div>
                </section>
                <section class="item" *ngIf="project.liveLink">
                    <h4 class="heading">live version</h4>
                    <div class="content">
                        <a href="{{project.liveLink}}" class="link" target="_blank">Visit website</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="projects-top-bg" *ngIf="project.topBg" [ngStyle]="{'background-image': 'url('+project.topBg+')'}"></div>
    </section>

    <section class="project-screens" *ngIf="project.screens">
        <div class="container screens-container">
            <div class="screen mobile"></div>
            <div class="screen tablet"></div>
            <div class="screen desktop"></div>
        </div>
    </section>

    <section class="project-info-block">
        <div class="container">
            <div class="project-pics">
                <div class="pic-block desktop">
                    <img *ngIf="project.images" class="frame" [src]="project.images.desktop.frame" alt="">
                    <img *ngIf="project.images" class="pic" [src]="project.images.desktop.src" alt="">
                </div>
                <div class="pic-block tablet">
                    <img *ngIf="project.images" class="frame" [src]="project.images.tablet.frame" alt="">
                    <img *ngIf="project.images" class="pic" [src]="project.images.tablet.src" alt="">
                </div>
                <div class="pic-block mobile">
                    <img *ngIf="project.images" class="frame" [src]="project.images.mobile.frame" alt="">
                    <img *ngIf="project.images" class="pic" [src]="project.images.mobile.src" alt="">
                </div>
            </div>
            <div class="info-container" *ngFor="let info of project.details">
                <div class="content">
                    <h4 class="heading">{{info.title}}</h4>
                    <!--<p class="text">{{info.text}}</p>-->
                    <div *ngFor="let item of info.block" class="text">
                        <p *ngIf="item.type === 'text'"> {{item.content}} </p>
                        <div *ngIf="item.type === 'paragraph'">
                            <p *ngFor="let paragraph of item.content"> {{paragraph}} </p>
                        </div>
                        <ul *ngIf="item.type === 'list'" class="list">
                            <li class="list-item" *ngFor="let li of item.content">
                                {{li}}
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section white section-projects">
        <div class="section-target" id="section_projects"></div>
        <div class="container">
            <h2 class="section-heading">
                <span>projects.</span>
            </h2>

            <div class="projects-carousel-wrapper">
                <div class="projects-carousel">
                    <app-carousel [items]="projects">

                    </app-carousel>
                </div>
            </div>
        </div>
    </section>
</div>
