

<div class="swipe-wrapper">


    <!--header-->

    <app-header></app-header>

    <!--end header-->

    <!--main-->

    <main>
        <router-outlet></router-outlet>
    </main>

    <!--end main-->

    <!--contacts-->

    <section class="section white contacts-section">
        <div class="section-target" id="contact"></div>
        <div class="container">
            <h2 class="section-heading"><span>contact us</span></h2>
            <div class="contacts-container">
                <div class="contact-form-block">
                    <app-contact-form></app-contact-form>
                </div>
                <div class="address-block">
                    <div class="contacts">
                        <div class="contacts-wrapper">
                            <div class="contacts-block">
                                <h4 class="heading">Write us</h4>
                                <div class="info">
                                    <span class="name">HR — </span>
                                    <span class="value">hi@atlana.pro</span>
                                </div>
                                <div class="info">
                                    <span class="name">Sales & Marketing — </span>
                                    <span class="value">sales@atlana.pro</span>
                                </div>
                                <div class="info">
                                    <span class="name">CEO — </span>
                                    <span class="value">slava@atlana.pro</span>
                                </div>
                            </div>
                            <!--<div class="contacts-block">-->
                                <!--<h4 class="heading">Call us</h4>-->
                                <!--<p class="info">+380 (95) 005 90 25</p>-->
                                <!--<p class="info">+380 (67) 123 45 67</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="map-wrapper">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--end contacts-->

    <!--footer-->

    <footer class="footer">
        <div class="layout-container">
            <div class="footer-container">
                <div class="copyright">
                    Copyright Atlana. All rights reserved.
                </div>
                <nav class="nav">
                    <ul class="list">
                        <li class="social-item">
                            <a href="https://www.linkedin.com/company/atlana/" class="link icon icon-linkedin" target="_blank"></a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.facebook.com/atlana.pro/" class="link icon icon-facebook" target="_blank"></a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.instagram.com/atlana.pro/" target="_blank" class="link icon icon-instagram"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <app-dialog></app-dialog>

    <!--end footer-->
</div>