.top-wrapper {
  background: $deepBlue;
  position: relative;
  min-height: 80vh;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    padding: 8em 0;
  }

  .top {
    z-index: 2;
    @media (min-width: 1024px) {
      padding: 8em 0 5em;
    }
  }
  .container {
    @media (min-width: 1600px) {
      max-width: none;
      width: 1280px;
    }

    @media (max-width: 1023px) {
      padding-top: 7em;
      padding-bottom: 5em;
    }
  }
}

.top {
  position: relative;
  @include flex(row, space-between, center, nowrap);

  @media (max-width: 1023px) {
    &-content {
      @include flex(column, center, center, nowrap);
      height: 70vmax;
      width: 100%;
    }
  }

  &-content {
    color: #fff;

    & > h1 {
      @media (min-width: 1023px) {
        font-size: 3.75em;
      }

      @media (max-width: 1024px) {
        font-size: 4em;
      }

      @media (max-width: 580px) {
        font-size: 3.5em;
      }

      @media (max-width: 460px) {
        font-size: 2.5em;
      }
    }
    @media (min-width: 1024px) {
      flex: 0 0 50%;
    }
  }

  &-text {
    margin-top: 1.5em;
    letter-spacing: 0.1em;
    font-size: 1.2em;

    @media (max-width: 1023px) {
      font-size: 1.75em;
      line-height: 1.62em;
      text-align: left;
    }
    @media (max-width: 580px) {
      font-size: 1.25em;
    }
  }

  &-link {
    margin-top: 5em;
    padding: 1.25em 2.5em;

    @media (max-width: 1023px) {
      display: none;
    }
  }

  &-img {
    @media (min-width: 1024px) {
      flex: 1 1 100%;
    }
    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.top-bg {
  @include cover;
  width: 100%;
  height: 300%;
  overflow: hidden;
  z-index: 2;

  &-elem {
    position: absolute;
    transform: rotate(43deg);
    height: 200%;

    &.left {
      width: 11em;

      @media (min-width: 768px) {
        top: -60%;
        left: 5%;
      }

      @media (max-width: 767px) {
        top: -96%;
        left: -15%;
      }
    }

    &.right {
      top: -47%;

      @media (min-width: 768px) {
        width: 30%;
        right: -5%;
      }

      @media (max-width: 767px) {
        width: 76%;
        right: -87%;
      }
    }
  }

  &-line {
    background: rgba(220, 220, 220, .15);
    height: 100%;

    &.right {
      flex: 0 0 15%;
      height: 71%;
      margin-right: 8%;
    }
  }

  &-square {
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $lightBlue;
    z-index: 1;
  }

  &-line-container {
    width: 100%;
    @include flex(row, flex-start, flex-start, nowrap);
    height: 100%;
  }
}

.about {
  position: relative;
  z-index: 2;
  margin-bottom: -3em;

  @media (max-width: 1023px) and (min-width: 768px) {
    padding: 0 2em;
  }

  @media (max-width: 767px) {
    padding: 0 1em;
  }

  &-container {
    min-height: 17.4em;
    background: #fff;
    border-radius: 2px;

    @media (min-width: 1024px) {
      transform: translateY(-5em);
      padding: 4em 6em;
      box-shadow: 0 0 15px 5px rgba(68, 68, 68, 0.1);
    }

    @media (max-width: 1023px) {
      transform: translateY(-5em);
      padding: 4em;
    }

    @media (max-width: 768px) {
      transform: translateY(-5em);
      padding: 3em;
    }


    @media (max-width: 520px) {
      padding: 2em;
    }

    &-block {
      @media (min-width: 1024px) {
        @include flex(row, space-between, flex-start, wrap);
      }

      &.top {
        align-items: center;
      }

      &.bottom {
        margin-top: 1.5em;

        @media (max-width: 768px) {
          margin-top: 0;
        }
      }
    }
  }

  &-heading {
    font-size: 3em;

    @media (max-width: 1023px) {
      text-transform: uppercase;
      font-size: 2.75em;
    }

    @media (max-width: 520px) {
      font-size: 2em;
    }

    @media (max-width: 380px) {
      font-size: 1.5em;
    }
  }

  &-subtitle {
    font-size: 1.5em;
    margin: 1.5em 0 0.5em;

    @media (max-width: 1023px) {
      font-size: 1.25em;
    }

    @media (max-width: 768px) {
      font-size: 1.15em;
    }
  }

  &-description {
    color: $lightGrey;
    flex: 0 0 100%;
    padding: 0.25em 0;
    letter-spacing: 0.03em;
    line-height: 1.5em;

    @media (max-width: 1023px) {
      margin-bottom: 2em;
    }

    @media (max-width: 768px) {
      margin-bottom: 1em;
    }
  }

  &-link {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  .section-target {
    top: -14em;
  }
}

.presentation-btn {
  position: absolute;
  right: 2em;
  top: -1.2em;
  z-index: 1;
  background-color: $red;
  padding: 1.3em 2.5em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
  border-radius: 2px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    border-style: solid;
    border-width: 0 0 17px 21px;
    border-color: transparent transparent #ad003c;
    opacity: .65;
  }
}

.services {
  margin: 4em 0;
  z-index: 2;

  .section-target {
    @media (max-width: 767px) {
      top: -8em;
    }
  }

  .container {
    @media (min-width: 768px) {
      padding-bottom: 6em;
    }

    @media (max-width: 767px) {
      padding-bottom: 2em;
    }
  }
}

.services-top {
  @media (min-width: 768px) {
    margin-bottom: 5em;
  }

  @media (max-width: 767px) {
    margin-bottom: 3em;
  }

  @media (min-width: 1024px) {
    @include flex(row, space-between, flex-end, nowrap);
  }

  &-description {
    font-weight: 500;
    color: $lightBlack;

    @media (min-width: 1024px) {
      flex: 0 0 50%;
      padding-bottom: .5em;
      padding-left: 2.5em;
    }

    @media (max-width: 1023px) {
      margin-top: 2em;
    }
  }
}

$serviceSpace: 2.5em;

.service {
  text-align: left;
  position: relative;

  + .service {
    padding-top: 8em;
  }

  &.webDev {
    padding-top: 10em;
  }

  &.improvement {
    padding-top: 10em;
  }

  @media (max-width: 1200px) and (min-width: 768px) {
    + .service {
      padding-top: 6em;
    }
  }

  @media (max-width: 767px) and (min-width: 540px) {
    + .service {
      padding-top: 4em;
    }
  }

  @media (max-width: 539px) {
    + .service {
      padding-top: 2em;
    }
  }

  @media (min-width: 768px) {
    @include flex(row, space-between, center, nowrap);
  }

  @media (max-width: 767px) {
    @include flex(column-reverse, flex-start, flex-start, nowrap);
  }

  @media (max-width: 767px) {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }

  @media(min-width: 768px) {
    &:nth-child(even) {
      flex-direction: row-reverse;

      .content {
        padding-left: $serviceSpace;
      }
      .img {
        padding-right: $serviceSpace;
        right: 50%;
      }
    }

    &:nth-child(odd) {
      .content {
        padding-right: $serviceSpace;
      }
      .img {
        left: 50%;
        padding-left: $serviceSpace;
      }
    }
  }

  .content {
    flex: 0 0 50%;
    color: $lightGrey;
  }

  .img {
    max-width: none;

    @media (min-width: 768px) {
      position: absolute;
    }

    @media (max-width: 767px) and (min-width: 540px) {
      display: block;
      margin: 2em auto;
      width: 68vw;
    }

    @media (min-width: 1024px) {
      width: 35vw;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 50vw;
    }

      @media (max-width: 767px) and (min-width: 480px) {
      width: 100%;
    }

    @media (max-width: 479px) {
      //display: none;
    }
  }

  .heading {
    font-size: 1.75em;
    color: $lightBlack;
    margin-bottom: 1.2em;
    text-transform: capitalize;

    @media (max-width: 768px) {
      margin-top: 1.5em;
    }

    @media (max-width: 579px) and (min-width: 400px) {
      @include flex(row, space-between, center, nowrap);
      text-align: center;
    }

    @media (max-width: 479px) {
      &:before {
        display: block;
        margin: .3em auto;
        text-align: center;
      }

      span {
        display: block;
        text-align: center;
      }
    }
  }

  .description {
    line-height: 1.5em;
  }

  &-list {
    margin-top: 1em;

    &-subheader {
      font-size: 1.5em;
      margin: 1.2em 0;
      text-transform: none;
      color: $blue;
    }

    &-item {
      margin-bottom: 5px;
      padding-left: .75em;
      position: relative;
      letter-spacing: 0.03em;
      line-height: 1.5em;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 4px;
        width: 4px;
        background: $lightBlack;
      }
    }
  }
}

.projects {
  .container {
    text-align: left;
  }
}

.projects-carousel {
  margin: 4em 0 0;
  position: relative;
  padding-bottom: .25em;

  h4.heading {
    color: $lightBlack;
  }
}

.section.how {
  padding-bottom: 3em;
  width: 100%;
  overflow: hidden;
}

.section-heading.how {
  margin-bottom: .6em;
}

.how-container {
  @media (min-width: 1024px) {
    @include flex(row, space-between, stretch, wrap);
  }
}

.workflow-step {
  @include flex(row, center, center, wrap);
  background: #fff;
  flex: 0 0 100%;
  padding: 2.5em 1.25em 2.125em;
  margin-top: 2.5em;

  .content {
    flex: 1 1 75%;

    @media (max-width: 768px) {
      flex: 0 0 100%;
    }

    .heading {
      font-size: 1.25em;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .description {
      color: $lightGrey;
      margin-top: 1.25em;
      line-height: 1.5em;
      letter-spacing: 0.03em;
    }
  }


  .img-container {
      flex: 0 0 140px;
      text-align: center;
      margin-right: 1.5em;


    @media (max-width: 768px) {
        flex: 0 0 100%;
        margin-bottom: 1em;
        margin-right: 0;
      }
  }

  .img {
    width: 8em;
  }
}

.engagement {
  .container:not(.trulyalya) {
    width: 100%;
    max-width: 1200px;
  }

  &-block {
    margin: 5em 0 3em ;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & div:not(:first-child):not(:last-child){
      margin: 0 2em;
    }
  }

  &-model{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    div &:not(:last-of-type):before {
      content: '';
      position: absolute;
      right: 0;
      top: 6em;
      transform: translate(50%, 0);
      width: 7em;
      height: 2em;
      background-image: url('../../assets/img/wave.svg');
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .engagement-icon {
      max-width: 62%;
      max-height: 12em;
      display: block;
      margin: 0 auto;
    }
  }

  .model-block {
    text-align: center;

    .title {
      font-size: 1.5em;
      font-family: Cocogoose;
      margin: 1.5em 0 .5em;
      letter-spacing: 0;
    }

    .description {
      color: $lightGrey;
      font-size: 1.1em;
      line-height: 1.5em;
      letter-spacing: 0.03em;
    }
  }

  @media (max-width: 768px){
    &-block {
      margin: 2em 0;
      flex-wrap: wrap;

      & div:not(:first-child):not(:last-child){
        margin: 0;
      }
    }

    &-model {
      flex: 0 0 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1.5em 0;

      div &:not(:last-of-type):before {
        display: none;
      }
    }


    .engagement-icon {
      flex: 0 0 100%;
      max-height: 8em;
    }

    .title,
    .description
    {
      text-align: center;
    }

  }
}

.key-points {

  &-heading {
    margin-bottom: 1.2em;
  }

  .container {
    padding-bottom: 1.4em;
  }
}

.key-points-container {
  @include flex(row, space-between, flex-start, wrap);
  @media (min-width: 1024px) {
  }
}

.key-point {
    flex: 0 0 31%;
    margin-bottom: 3em;
    padding: 1em;

  @media (max-width: 768px) {
    flex: 0 0 50%;
    text-align: center;
    margin: 0 auto 2em;
  }

  @media (max-width: 580px) {
    flex: 0 0 100%;
  }

  &:before {
    font-size: 5em;
    color: $deepBlue;
    text-align: left;
    display: inline-block;
    margin-bottom: .2em;
  }

  .heading {
    font-weight: 500;
    margin-top: .8em;

    @media (min-width: 1024px) {
      font-size: 1em;
    }

    @media (max-width: 1023px) {
      font-size: 1rem;
    }
  }

  .description {
    color: $lightGrey;
    margin-top: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em;

    @media (max-width: 1023px) {
      font-size: .875em;
    }
  }
}

.cta-banner {
  text-align: center;
  padding: 105px 0;
  position: relative;

  @media (max-width: 1023px) {
    padding: 74px 0;
  }

  .text-back {
    @include cover;
    font-size: 8em;
    color: rgba(255, 255, 255, .1);
    font-weight: 100;
    text-transform: uppercase;
    @include flex(row, center, center, nowrap);


    @media (max-width: 1280px) {
      font-size: 10em;
    }

    @media (max-width: 1023px) {
      font-size: 7em;
    }

    @media (max-width: 640px) {
      font-size: 5em;
    }

    @media (max-width: 480px) {
      font-size: 4em;
    }
  }

  .heading {
    color: #fff;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      font-size: 3.75em;
    }

    @media (max-width: 1023px) {
      font-size: 2.25em;
    }
  }

  .end {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  .mobile-part {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.contacts-section {

  @media (min-width: 1024px) {
    padding-bottom: 5em;
  }

  .section-target {
    @media (max-width: 767px) {
      top: -3em;
    }
  }
}

.contacts-container {
    @include flex(row, space-between, flex-start, nowrap);
    margin-top: 3em;

  @media (max-width: 1023px) {
    margin: 2em auto 0;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  .contact-form-block,
  .address-block {
      flex: 0 0 48%;

    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  .address-block {
    @media (max-width: 1023px) {
      margin-top: 3em;
    }
  }

  .contact-form {
    .input,
    .textarea {
        margin-bottom: 1.125em;

      @media (max-width: 1023px) {
        margin-bottom: 1.8em;
      }
    }

    .submit {
      font-weight: 900;
      margin-top: 1.375em;
    }
  }
}

.contact-form {
  .submit {
    position: relative;
    overflow: hidden;
  }
}

.contacts {
  margin-top: 1.25em;

  &-block {
    margin-bottom: 2.125em;

    .heading {
      font-weight: 100;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 1.2em;
    }

    .info {
      color: $lightGrey;
      letter-spacing: 0.03em;
      line-height: 1.5em;
      @media (max-width: 1023px) {
        font-size: .875em;
      }

      + .contacts-block__info {
        margin-top: .3em;
      }
    }
  }

  &-wrapper {
    @media (min-width: 1024px) {
      @include flex(row, space-between, flex-start, nowrap);
    }

    .contacts-block {
        flex: 1 1 50%;
    }
  }

  .name {
    color: $lightBlack;
  }
}

.map-wrapper {
  @media (max-width: 1023px) {
    margin-bottom: 3em;
  }
}

.map {
  height: 250px;
}

.layout-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;

  @media (max-width: 479px) {
    padding: 0 1em;
  }
}

.list {
  margin-top: 1em;
}

.list-item {
  margin-bottom: 5px;
  padding-left: .75em;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4px;
    width: 4px;
    background: #273750;
    transform: translateY(-50%);
  }
}