.projects {
    &-top {
        min-height: 100vh;
        @include flex(column, center, center, nowrap);
        position: relative;

        .container {
            padding: 5em;
            background-color: #fff;

            @media (max-width: 1023px) {
                padding: 3em;
                margin: 1em;
            }

            @media (max-width: 767px) {
                margin: 7em 1em 1em;
                padding: 2em;
            }

            .heading {
                font-size: 4em;

                @media (max-width: 1023px) {
                    font-size: 4em;
                }

                @media (max-width: 767px) {
                    font-size: 3em;
                    text-align: center;
                }

                @media (max-width: 480px) {
                    font-size: 2em;
                    text-align: center;
                }
            }
        }

        &-bg {
            z-index: 1;
            @extend %cover;
            background-size: cover;
            background-position: 50% 50%;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(0, 91, 157, 0.2);
            }

            &:after {
                content: '';
                @extend %cover;
            }
        }

        .aside {
            margin-top: 3em;
            letter-spacing: 0.03em;
            line-height: 1.75em;
            font-size: 1.2em;

            @media (max-width: 580px) {
                font-size: 1em;
            }
        }
    }

    .container {
        z-index: 2;
    }

    .info {
        @include flex(row, flex-start, flex-start, wrap);
        margin-top: 4em;

        .item {
            + .item {
                @media (min-width: 768px) {
                    margin-left: 3em;
                }

                @media (max-width: 767px) {
                    margin-top: 1em;
                }
            }

            @media (max-width: 767px) {
                @include flex(row, space-between, center, nowrap);
                width: 100%;
            }

            .heading {
                text-transform: uppercase;
                font-size: 1em;

                @media (min-width: 768px) {
                    margin-top: 1em;
                }

                @media (max-width: 767px) {
                    margin-top: 0;
                    font-size: 0.8em;
                }
            }

            .content {
                font-size: 1em;
                letter-spacing: 0.1em;
                color: $lightGrey;

                @media (min-width: 768px) {
                    margin-top: 2em;
                }

                @media (max-width: 767px) {
                    margin-top: 0;
                    font-size: 0.8em;
                }
            }
        }

        .link {
            color: $deepBlue;
        }
    }

}

.project-info-block {


    .container {
        padding-bottom: 6em;
    }

    .container .project-pics {
        @include flex(row, flex-start, flex-end, nowrap);
        flex-direction: row-reverse;
        position: relative;
        z-index: 2;

        .pic-block {
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(60%, -50%);
                z-index: -2;
                height: 95%;
                width: 85%;
                -webkit-filter: blur(10px);
                filter: blur(10px);
                background-color: #646464;
            }


            .pic {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                width: 95%;
            }

            &.desktop {
                @media (min-width: 768px) {
                    flex-basis: 84.5%;
                }

                @media (max-width: 767px) {
                    flex-basis: 84.5%;
                }

                .pic {
                    top: 39%;
                }

                &:after {
                    top: 1.25%;
                    right: -1%;
                    transform: translate(0, 0);
                    height: 82%;
                }
            }
            &.tablet {
                flex-basis: 28.6%;
                transform: translateX(50%);
            }
            &.mobile {
                flex-basis: 9.1%;
                transform: translateX(525%);

                .pic {
                    top: 49%;
                    width:91%;
                }
            }

            .pic {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                width: 95%;
            }
        }
    }

    .info-container {
        margin-top: 5em;

        + .info-container {
            margin-top: 3em;
        }
        .content {
            color: $lightGrey;

            .heading {
                font-size: 1.875rem;
                color: $lightBlack;
                margin-bottom: .9em;
                text-transform: capitalize;
            }

            .text {
                letter-spacing: .03em;
                line-height: 1.5em;

                p {
                    margin-bottom: 0.75em;
                }
            }

            .list {
                margin-top: 1em;
            }

            .list-item {
                margin-bottom: 5px;
                padding-left: .75em;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 4px;
                    width: 4px;
                    background: #273750;
                }
            }
        }
    }
}