<div class="modal" [ngClass]="{'visible': modalState !== null}">
    <div class="modal-backdrop" (click)="close()"></div>
    <div class="modal-wrapper">
        <div class="modal-window">
            <a class="modal-close icon icon-close" (click)="close()"></a>
            <div class="modal-content">
                <!--<div class="modal-instance modal-instance&#45;&#45;contact" *ngIf="modalState === 'contact'">-->
                    <!--<h3 class="modal-heading">get in touch</h3>-->
                    <!--<app-contact-form></app-contact-form>-->
                <!--</div>-->

                <div *ngIf="modalState === 'success'">
                    <h5 class="modal-heading modal-heading--small">Thank you!</h5>
                    <p class="text-center modal-text">
                        We'll be in touch soon!
                    </p>
                </div>
                <div *ngIf="modalState === 'error'">
                    <h5 class="modal-heading modal-heading--small">Oops!</h5>
                    <p class="text-center modal-text">
                        Sorry something went wrong.
                        <br>
                        Please reload the page and try again.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
